@{
    ViewData["Title"] = "Action Kids!";
}

<div id="target" class="text-center">
    <h1 class="display-4">Welcome</h1>
	<H2> What is an Action Kid? </H2>
	<button class="btn btn-primary btn-lg px-4"
		hx-get=""
		hx-target="#target"

	>
		Find Out
	</button>
</div>
